body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  margin: 0;
  padding: 0;
}

.planetinfo{
  color: black;

}

.App {
  text-align: center;
}

.App-header {
  background-color: #b9e3f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  border: 1px solid #f20fe6;
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  background-color: #332ab4;
  box-shadow: 0 4px 8px rgba(239, 5, 5, 0.985);
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 300px;
  font-family: cursive ;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.residents, .films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.residents .card, .films .card {
  width: calc(50% - 32px);
  margin: 16px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
}

h2 {
  font-size: 2rem;
  margin-top: 40px;
}

p {
  font-size: 1rem;
  margin: 8px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  animation: fadeIn 0.5s ease-in-out;
}
